#shadow-borders {
  box-shadow: 1px 1px 10px #5e5e5e;
  border-radius: 8px;
}
#underline {
  text-decoration: underline;
}
.page {
  background: linear-gradient(to left, #71bdff, #e3f1fd);
}
.red-button {
  background: linear-gradient(to left, #fd0000, #fd6500be);
  box-shadow: 1px 1px 10px #5e5e5e;
  border-radius: 8px;
}
.image {
  height: 80%;
  width: 19%;
  box-shadow: 1px 1px 10px #5e5e5e;
  border-radius: 8px;
}
p b {
  text-decoration: underline;
}
