#shadow-borders {
    box-shadow: 1px 1px 10px #5e5e5e;
    border-radius: 8px;
}
#underline {
    text-decoration: underline;
}
body {
    background: linear-gradient(to left, #e3f1fd, #71bdff);
}
image {
    box-shadow: 1px 1px 10px #5e5e5e;
    border-radius: 8px;
}
ul li {
    text-decoration: underline;
}
  